/**
 * 作者: lwh
 * 时间: 2020.7.16
 * 描述：购物车定制css
 */

/*高度*/
#index-body-cart {
    min-height: 750px;
}

/*标题*/
#index-body-cart #cart-title-text {
    height: 72px;
    line-height: 72px;
}

/****************************自定义panel***********************/
#index-body-cart.mypanel {
    width: 100%;
    padding: 30px 20px;
}

#index-body-cart.mypanel .mypanel-header {
    color: #939393;
    overflow: auto;
}

#index-body-cart.mypanel .mypanel-header .media {
    float: left;
}

#index-body-cart.mypanel .mypanel-header .countArea {
    float: right;
}

#index-body-cart.mypanel .mypanel-header .media-heading {
    margin-bottom: 0;
}

#index-body-cart.mypanel .mypanel-header img {
    width: 72px;
    height: 72px;
}

#index-body-cart.mypanel .mypanel-header .media .media-right {
    height: 72px;
    padding: 0;
}

#index-body-cart.mypanel .mypanel-header .countArea {
    margin-top: 10px;
    overflow: auto;
}


#index-body-cart.mypanel .mypanel-header .countArea #totaldiscount {
    color: rgba(255, 0, 0, 0.9);
    margin-left: 1px;
    font-size: 16px;
    font-weight: bold;
}

#index-body-cart.mypanel .mypanel-header .countArea #totalprice {
    color: rgba(255, 0, 0, 0.9);
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    float: left;
    margin-right: 20px;
}

#index-body-cart.mypanel .mypanel-header .countArea button {
    float: right;
}

#index-body-cart.mypanel .mypanel-title-content-split {
    margin: 10px auto;
    height: 4px;
    border-radius: 2px;
    background-color: #939393;
}

#index-body-cart.mypanel .mypanel-content {
    min-height: 400px;
    margin: 10px 0;
    padding: 20px 10px;
    background-color: #f0f0f0;
    overflow: auto;
}

#index-body-cart.mypanel .mypanel-content .row > div {
    padding-top: 1px;
}

#index-body-cart.mypanel form {
    margin: 1px auto;
    width: 50%;
}

#index-body-cart.mypanel form .form-group {
    margin-left: 10px;
}

#index-body-cart.mypanel form button {
    margin-left: 10px;
    width: 100px;
}

/*表结束分割线*/
#index-body-cart .table tbody:last-of-type {
    border-bottom: #c4c4c4 solid 1px;
}

/*商品列表为空时现实的提示语句*/
#cartEmptyTip {
    margin-top: 50px;
    font-size: 18px;
}

/*备注输入区域*/
#markInputArea {
    width: 30%;
    font-size: 16px;
    padding-top: 1px;
    float: right;
}

/*备注输入框*/
#markInput {
    width: 90%;
    min-height: 100px;
    vertical-align: top;
}