/**
 * 作者: lwh
 * 时间: 2020.7.15
 * 描述：商品入库定制css
 */

/*高度*/
#index-body-add {
    min-height: 750px;
}

/*标题*/
#index-body-add #add-title-text {
    height: 72px;
    line-height: 72px;
}

/****************************自定义panel***********************/
#index-body-add.mypanel {
    width: 100%;
    padding: 30px 20px;
}

#index-body-add.mypanel .mypanel-header {
    color: #939393;
    overflow: auto;
}

#index-body-add.mypanel .mypanel-header .media-heading {
    margin-bottom: 0;
}

#index-body-add.mypanel .mypanel-header img {
    width: 72px;
    height: 72px;
}

#index-body-add.mypanel .mypanel-header .media .media-right {
    height: 72px;
    padding: 0;
}

#index-body-add.mypanel .mypanel-title-content-split {
    margin: 10px auto;
    height: 4px;
    border-radius: 2px;
    background-color: #939393;
}

#index-body-add.mypanel .mypanel-content {
    min-height: 600px;
    margin: 10px 0;
    padding: 20px 10px;
    background-color: #f0f0f0;
    overflow: auto;
}

#index-body-add.mypanel .mypanel-content .row > div {
    padding-top: 1px;
}

#index-body-add.mypanel form {
    margin: 1px auto;
    width: 50%;
}

#index-body-add.mypanel form .form-group {
    margin-left: 10px;
}

#index-body-add.mypanel form button {
    margin-left: 10px;
    width: 100px;
}