/**
 * 作者: lwh
 * 时间: 2020.7.15
 * 描述：库存管理定制css
 */

/*高度*/
#index-body-stock {
    min-height: 750px;
}

/*标题*/
#index-body-stock #stock-title-text {
    height: 72px;
    line-height: 72px;
}

/****************************自定义panel***********************/
#index-body-stock.mypanel {
    width: 100%;
    padding: 30px 20px;
}

#index-body-stock.mypanel .mypanel-header {
    color: #939393;
    overflow: auto;
}

#index-body-stock.mypanel .mypanel-header .media {
    float: left;
}

#index-body-stock.mypanel .mypanel-header .selectionArea {
    float: right;
}

#index-body-stock.mypanel .mypanel-header .selectionArea > form legend {
    font-size: 18px;
    color: #939393;
    margin-bottom: 12px;
}

#index-body-stock .mypanel .mypanel-header .selectionArea > form input {
    margin-right: 10px;
}

#index-body-stock .mypanel .mypanel-header .selectionArea > form button {
    width: 100px;
}

#index-body-stock.mypanel .mypanel-header .media-heading {
    margin-bottom: 0;
}

#index-body-stock.mypanel .mypanel-header img {
    width: 72px;
    height: 72px;
}

#index-body-stock.mypanel .mypanel-header .media .media-right {
    height: 72px;
    padding: 0;
}

#index-body-stock.mypanel .mypanel-title-content-split {
    margin: 10px auto;
    height: 4px;
    border-radius: 2px;
    background-color: #939393;
}

#index-body-stock.mypanel .mypanel-content {
    min-height: 600px;
    margin: 10px 0;
    padding: 20px 10px;
    background-color: #f0f0f0;
}

#index-body-stock.mypanel .mypanel-content .row > div {
    padding-top: 1px;
}

/*商品列表为空时现实的提示语句*/
#noCommodityTip {
    margin-top: 50px;
    font-size: 18px;
}

#index-body-stock td.operation {
    width: 250px;
}

#index-body-stock td.operation button {
    margin-right: 5px;
}

#updateCinfoModal .modal-header {
    background-color: #2b669a;
    color: white;
}

#updateCinfoForm legend {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#allCommodities-table thead th:last-of-type {
    display: none;
}

#allCommodities-table tbody tr td:last-of-type {
    display: none;
}